* {
  margin: 0;
  padding: 0;
  font-family: "Baloo 2", cursive;
}

body {
  background-color: #205939;
}

.container {
  text-align: center;
  /* margin: 30px auto; */

  /* OR */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signUpForm {
  border-radius: 10px;
  background-color: #ffffff;
  width: 300px;
  height: 600px;
  text-align: center;
  border: solid 1px white;
}

.signUpForm * {
  display: block;
}

.signUpForm .formText {
  color: grey;
}

.signUpForm .formHeadings {
  margin: 20px;
}

.signUpForm a {
  display: inline;
  color: orange;
}
.signUpForm input {
  border: solid grey 1px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  height: 30px;
}

.signUpForm label {
  font-size: 12px;
  margin: 20px 0 0 13px;
  text-align: left;
}

.signUpForm button {
  font-size: 15px;
  margin: 30px auto;
  display: block;
  background-color: orange;
  border-radius: 5px;
  height: 40px;
  width: 70%;
  border: white;
  color: white;
}

.signUpForm footer {
  font-size: 13px;
  margin: auto 20px;
}

.signUpForm footer a {
  text-decoration: none;
}

.signUpForm .iconContainer i {
  position: absolute;
  display: flex;
  margin-left: 265px;
  margin-top: 7px;
}

#login {
  color: white;
}

#login a {
  color: orange;
  text-decoration: none;
}
