* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */

header {
  height: 12vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: azure;
  padding: 0 1rem;
}

header li {
  display: inline-block;
}

header a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}

header li a:hover {
  background-color: rgb(183, 250, 250);
}

.bg {
  background-color: #ffffff;
}

.bg a {
  color: rgb(119, 107, 94);
}
/* MAIN SECTION */

section {
  height: 50vh;
  background-color: azure;
  scroll-margin-top: 12vh;
}

section p {
  padding: 1.5rem;
}

section:nth-child(2n) {
  background-color: rgb(248, 210, 159);
}

#toTopButton {
  display: none;
  border: none;
  border-radius: 2px;
  height: 2rem;
  width: 6rem;
  background-color: rgb(129, 94, 47);
  color: white;
  margin: 1rem;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  font-family: inherit;
  cursor: pointer;
}

#mobileButton {
  display: none;
}

@media (max-width: 576px) {
  #mobileButton {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav.responsive ul {
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    margin: 0;
    filter: blur(0px);
    pointer-events: all;
  }
  nav.responsive ul li {
    display: block;
  }
  nav.responsive a {
    display: block;
    color: rgb(248, 210, 159);
  }

  section.notClickable {
    pointer-events: none;
  }
}
