header {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
}

main {
  display: flex;
}

form input {
  display: block;
  flex: 1;
}

table {
  flex: 1;
}
