header {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input,
header label {
  display: flex;
  margin: 0.325rem;
}

main {
  display: flex;
}

main .carform {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem;
  max-width: 20rem;
}

#addcar,
#reset {
  width: 5rem;
  margin: 0.5rem auto;
}

main section {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.5rem 0.5rem;
  align-items: center;
}
